* {
    font-family: 'Cambria';
}

body {
    background-color: MistyRose;
    margin: 0;
}

header,footer {
    height: 200px;
    text-align: center;
    overflow: hidden;
}

section {
    background-color: Plum;
    height: 400px;
    margin: 5px;
    box-shadow: 4px 4px 10px DimGray;
    overflow: hidden;
}

@media only screen and (min-width: 801px) {
    section {
        width: 22%;
        float: left;
    }

    footer {
        clear: both;
    }
}

@media only screen and (max-width: 800px) {
    section {
        width: 100%;
    }
}

h2 {
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #505050;
    color: white;
}