*{
  font-family: Garamond;
  text-align: center;
}
.lewe{
  width: 72%;
}
#lPierwszy{
  background-color: #795548;
  font-size: 170%;
  float: left;
}
#pPierwszy{
  float: right;
}
#lDrugi{
  height: 400px;
}

#pDrugi {
  float: right;
}
#lTrzeci{
  float: left;
}

.prawe{
  background-color: #BCAAA4;
  color: #795548;
  height: 400px;
  width: 28%;
}

footer{
  background-color: #795548;
  color: white;
  padding: 20px;
  clear: both;
}
table{
  margin: auto;
  width: 80%;
  border: 1px solid #795548;
}
tr:hover{
  background-color: sienna;
  color: white;

}

h4{
  font-size: 200%;

}

img{
  padding: 20px;
  border-radius: 40px;

}
a{
  color: white;
}
input[type="radio"]{
  margin: 7px;
}
