*{
  text-align: center;
  font-family: Georgia;
}
header,footer{
  background-color: tomato;
  color: mistyrose;
  padding: 10px;
}
nav{
  width: 20%;
  float: left;
}
#blok1,#blok2,#blok3{
  background-color: #FFAEA5;
  height: 170px;
  font-size: 200%;
}
#blok1{
  background-color: mistyrose;
}
main{
  background-color: mistyrose;
  width: 80%;
  height: 510px;
  overflow: auto;
  float: left;
}
#sekcja2, #sekcja3{
  display: none;
}
table{
  margin: auto;
  width: 60%;
  border: dashed 1px indigo;
}
select, button{
  margin: 20px;
}
dt{
  font-style: italic;
  font-weight: bold;
}
dt:hover{
  font-size: 180%;
}
footer{
  clear: both;
  /* position: relative; */
}